{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "spaced-comment": 0,
    "react/prop-types": 1,
    "arrow-body-style": 0
  },
  "extends": "airbnb"
}
